# Bonus: Temperature Analysis I

In [1]:
import pandas as pd
from datetime import datetime as dt
import numpy as np
from scipy import stats

In [3]:
# "tobs" is "temperature observations"
df = pd.read_csv('Resources/hawaii_measurements.csv')
df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [4]:
# Convert the date column format from string to datetime
df['date'] = pd.to_datetime(df['date'])
df.head()

       station       date  prcp  tobs
0  USC00519397 2010-01-01  0.08    65
1  USC00519397 2010-01-02  0.00    63
2  USC00519397 2010-01-03  0.00    74
3  USC00519397 2010-01-04  0.00    76
4  USC00519397 2010-01-06   NaN    73

In [5]:
# Set the date column as the DataFrame index
df.set_index(df["date"], inplace = True)
df.head()

                station       date  prcp  tobs
date
2010-01-01  USC00519397 2010-01-01  0.08    65
2010-01-02  USC00519397 2010-01-02  0.00    63
2010-01-03  USC00519397 2010-01-03  0.00    74
2010-01-04  USC00519397 2010-01-04  0.00    76
2010-01-06  USC00519397 2010-01-06   NaN    73

In [6]:
# Drop the date column
df.pop("date")
df.head()

                station  prcp  tobs
date
2010-01-01  USC00519397  0.08    65
2010-01-02  USC00519397  0.00    63
2010-01-03  USC00519397  0.00    74
2010-01-04  USC00519397  0.00    76
2010-01-06  USC00519397   NaN    73

### Compare June and December data across all years

In [7]:
from scipy import stats

In [8]:
# Identify the average temperature in June at all stations across all available years
june_df = df.filter(like = '-06-', axis=0)
june_df

                station  prcp  tobs
date
2010-06-01  USC00519397  0.00    78
2010-06-02  USC00519397  0.01    76
2010-06-03  USC00519397  0.00    78
2010-06-04  USC00519397  0.00    76
2010-06-05  USC00519397  0.00    77
...                 ...   ...   ...
2017-06-26  USC00516128  0.02    79
2017-06-27  USC00516128  0.10    74
2017-06-28  USC00516128  0.02    74
2017-06-29  USC00516128  0.04    76
2017-06-30  USC00516128  0.20    75

[1700 rows x 3 columns]

In [9]:
# Identify the average temperature in December at all stations across all available years
december_df = df.filter(like = '-12-', axis=0)
december_df

                station  prcp  tobs
date
2010-12-01  USC00519397  0.04    76
2010-12-03  USC00519397  0.00    74
2010-12-04  USC00519397  0.00    74
2010-12-06  USC00519397  0.00    64
2010-12-07  USC00519397  0.00    64
...                 ...   ...   ...
2016-12-27  USC00516128  0.14    71
2016-12-28  USC00516128  0.14    71
2016-12-29  USC00516128  1.03    69
2016-12-30  USC00516128  2.37    65
2016-12-31  USC00516128  0.90    65

[1517 rows x 3 columns]

In [10]:
# Identify the average temperature for June
average_temp_june = round(june_df['tobs'].mean())
avgerage_temp_june

75

In [11]:
# Identify the average temperature for December
average_temp_dec = round(december_df['tobs'].mean())
average_temp_dec

71

In [12]:
# Create collections of temperature data
june = june_df['tobs']
december = december_df['tobs']

In [13]:
# Run t-test, notice f string for incorparating saved variables into text on lines 3 and 4
t_value, p_value = stats.ttest_ind(june, december)
print(f"The t-value is {t_value}.")
print(f"The p-value is {p_value}.")

The t-value is 31.60372399000329.
The p-value is 3.9025129038616655e-191.

### Analysis

In [ ]:
# Use t-test to determine whether the difference in means is statistically significant. 
# Since p-value from t test is less than 0.05, then that result is said to be statistically significant.

In [ ]:
# Will you use a paired t-test or an unpaired t-test? Why?
# When comparing two different groups (whether from one sample or two samples) you use an unpaired t-test.